/// All colors used across the projects should be declared in this file.
/// Declare the color codes in $color-defs and assign them to abstract
/// variable names in $colors which are the colors used in the project.
/// The colors are then fetched using the color() function.

@use 'sass:map';

// Color Definition

// This map is used to define all colors used in this project
$color-defs: (
  black: #000,
  white: #fff,
  gray: #bfbfbf,
  gray-light: #f0f0f0,
  gray-dark: #757575,
  blue: #35455d,
  teal: #92b1b6,
  ui: (
    green: #5cb660,
    green-light: #edf7ed,
    green-dark: #1e4620,
    red: #f27472,
    red-light: #fdeded,
    red-dark: #5f2120,
    yellow: #ffa117,
    yellow-light: #fff4e5,
    yellow-dark: #663c00,
    blue: #34baf6,
    blue-light: #e5f6fd,
    blue-dark: #014361,
  ),
);

// Function used to get colors from $color-defs in $colors
@function color-defs($keys...) {
  $value: map.get($color-defs, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $color-defs.');
  }

  @return $value;
}

// Color Map

// This map is used to declare variables to use for colors
$colors: (
  primary: (
    main: color-defs(blue),
    text: color-defs(white),
  ),
  secondary: (
    main: color-defs(teal),
    text: color-defs(black),
  ),
  bg: (
    main: color-defs(white),
    alt: color-defs(gray-light),
  ),
  text: (
    main: color-defs(black),
    alt: color-defs(gray-dark),
  ),
  link: (
    main: color-defs(blue),
  ),
  border: (
    main: color-defs(gray),
  ),
  disabled: (
    bg: color-defs(gray-light),
    text: color-defs(gray-dark),
  ),
  ui: (
    success: (
      main: color-defs(ui, green),
      alt: color-defs(ui, green-light),
      text: color-defs(ui, green-dark),
    ),
    error: (
      main: color-defs(ui, red),
      alt: color-defs(ui, red-light),
      text: color-defs(ui, red-dark),
    ),
    warning: (
      main: color-defs(ui, yellow),
      alt: color-defs(ui, yellow-light),
      text: color-defs(ui, yellow-dark),
    ),
    info: (
      main: color-defs(ui, blue),
      alt: color-defs(ui, blue-light),
      text: color-defs(ui, blue-dark),
    ),
  ),
);

// This function is used to use colors in the project
@function color($keys...) {
  $value: map.get($colors, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $colors.');
  }

  @return $value;
}
