/// Declare the color codes in $color-defs and assign them to abstract
/// variable names in $colors found in _colors.scss which are the colors
/// used in the project.

@use 'sass:map';

// This map is used to define all colors used in this project
$color-defs: (
  black: #000,
  white: #fff,
  gray: #bfbfbf,
  gray-light: #f0f0f0,
  gray-dark: #757575,
  blue: #2162ec,
  blue-dark: #35455d,
  teal: #92b1b6,
  ui: (
    green: #5cb660,
    green-light: #edf7ed,
    green-dark: #1e4620,
    red: #f27472,
    red-light: #fdeded,
    red-dark: #5f2120,
    yellow: #ffa117,
    yellow-light: #fff4e5,
    yellow-dark: #663c00,
    blue: #34baf6,
    blue-light: #e5f6fd,
    blue-dark: #014361,
  ),
);

// Function used to get colors from $color-defs
@function color-defs($keys...) {
  $value: map.get($color-defs, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $color-defs.');
  }

  @return $value;
}
