/// All colors used across the projects should be declared in this file.
/// Declare the color codes in $color-defs and assign them to abstract
/// variable names in $colors which are the colors used in the project.
/// The colors are then fetched using the color() function.

@use 'sass:map';
@use '../functions/' as *;

// Color Definition

// This map is used to define all colors used in this project
$color-defs: (
  black: #141414,
  white: #fff,
  gray: #bfbfbf,
  graylight: #f0f0f0,
  graydark: #8a8a8e,
  brand: (
    blue: #284e80,
    bluelight: #dde5ed,
    gray: #f0f0f0,
  ),
  ui: (
    green: #347657,
    greenlight: #c5d5d0,
    red: #db7058,
    redlight: #edd8d3,
  ),
);

// Function used to get colors from $color-defs in $colors
@function color-defs($keys...) {
  $value: map.get($color-defs, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $color-defs.');
  }

  @return $value;
}

// Color Map

// This map is used to declare variables to use for colors
$colors: (
  brand: (
    primary: (
      main: color-defs(brand, blue),
      text: color-defs(white),
    ),
    secondary: (
      main: color-defs(brand, bluelight),
      text: color-defs(brand, blue),
    ),
  ),
  bg: (
    main: color-defs(white),
    alt: color-defs(graylight),
  ),
  text: (
    main: color-defs(black),
    alt: color-defs(graydark),
  ),
  link: (
    main: color-defs(brand, blue),
  ),
  border: (
    main: color-defs(gray),
  ),
  ui: (
    success: (
      main: color-defs(ui, greenlight),
      text: color-defs(ui, green),
    ),
    error: (
      main: color-defs(ui, redlight),
      text: color-defs(ui, red),
    ),
  ),
  disabled: (
    bg: color-defs(graylight),
    text: color-defs(graydark),
  ),
);

// This function is used to use colors in the project
@function color($keys...) {
  $value: map.get($colors, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $colors.');
  }

  @return $value;
}
