/// This file contains font settings and exposes
/// the fonts using mixins.

@mixin font-regular {
  font-family: sans-serif;
  font-weight: 400;
}

@mixin font-medium {
  font-family: sans-serif;
  font-weight: 500;
}
