/// Global keyframes to use in multiple materials

@use '../../helpers/mixin' as *;

@include keyframes(no-transform) {
  100% {
    @include transform(none);
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
