/// Reset styling on the button element

@use "../../helpers" as *;

:where(button) {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font: inherit;
  color: currentColor;
  line-height: scss-var(font, line-height, main);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
