/// Reset styling on the button element

@use '../../helpers' as *;

button {
  @include flex-display;
  @include align-items(center);
  @include font-regular;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: var(font, size, regular);
  color: currentColor;
  line-height: var(font, line-height, main);
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
