/// Reset styling on root elements

@use "../../helpers" as *;

*,
::before,
::after {
  box-sizing: border-box;
}

:where(html) {
  @include text-size-adjust(100%); // Prevent font scaling in landscape while allowing user zoom
}

:where(body) {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
