/// Declaration of the breakpoints used in the project.
/// Breakpoint values are set in helpers/variables/_variables.scss.

@use 'sass:map';

// Definition of breakpoints. "Less than (lt)" breakpoints will be
// created in $breakpoints based on these values
$breakpoint-defs: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
);

// Map used to create the breakpoints
$breakpoints: (
  'lt-sm': (max-width: map.get($breakpoint-defs, sm) - 1),
  'sm': (min-width: map.get($breakpoint-defs, sm)),
  'lt-md': (max-width: map.get($breakpoint-defs, md) - 1),
  'md': (min-width: map.get($breakpoint-defs, md)),
  'lt-lg': (max-width: map.get($breakpoint-defs, lg) - 1),
  'lg': (min-width: map.get($breakpoint-defs, lg)),
);

// Mixin used to create the breakpoint media queries
@mixin breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media #{inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Available breakpoints are: #{map.keys($breakpoints)}.';
  }
}
