/// Declaration of the breakpoints used in the project.
/// Breakpoint values are set in helpers/variables/_variables.scss.

@use 'sass:meta';
@use 'sass:map';

// Definition of breakpoints. "Less than (lt)" breakpoints will be
// created in $breakpoints based on these values
$breakpoint-defs: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
);

// Map containing breakpoint media queries
$breakpoints: ();

// Assign breakpoint media queries to $breakpoints from $breakpoint-defs
@each $breakpoint in map.keys($breakpoint-defs) {
  $breakpoints: map.merge($breakpoints, ('lt-#{$breakpoint}': (max-width: map.get($breakpoint-defs, $breakpoint) - 1)));
  $breakpoints: map.merge($breakpoints, ('#{$breakpoint}': (min-width: map.get($breakpoint-defs, $breakpoint))));
}

// Mixin used to create the breakpoint media queries
@mixin breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Available breakpoints are: #{map.keys($breakpoints)}.';
  }
}
