/// Mixins used to prefix mask related properties

/* stylelint-disable property-no-vendor-prefix */

@mixin mask-image($url) {
  -webkit-mask-image: $url;
  mask-image: $url;
}

@mixin mask-composite($composite: add) {
  -webkit-mask-composite: $composite;
  mask-composite: $composite;
}

@mixin mask-position($position: center) {
  -webkit-mask-position: $position;
  mask-position: $position;
}

@mixin mask-size($size: auto) {
  -webkit-mask-size: $size;
  mask-size: $size;
}

@mixin mask-repeat($repeat: no-repeat) {
  -webkit-mask-repeat: $repeat;
  mask-repeat: $repeat;
}

/* stylelint-enable property-no-vendor-prefix */
