/// Mixins used to prefix transform related properties

/* stylelint-disable property-no-vendor-prefix */

@mixin transform($value...) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin transform-origin($value...) {
  -webkit-transform-origin: $value;
  -ms-transform-origin: $value;
  transform-origin: $value;
}

/* stylelint-enable property-no-vendor-prefix */
