/// Forwards all variables. To access them in other files,
/// import this file using:
/// @use '[path_to_helpers]/helpers/variables' as *;

@forward "_constants" show const;
@forward "_variables" show scss-var;
