@use '../../../helpers' as *;

.container {
  width: 100%;
  max-width: var(size, container, max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(size, container, gutter);
  padding-left: max(env(safe-area-inset-left), var(size, container, gutter));
  padding-right: max(env(safe-area-inset-right), var(size, container, gutter));
}
