/// Focus
/// Change the default focus to use :focus-visible in supported browsers

@use "../../helpers" as *;

// Remove inner focus on buttons in Firefox
::-moz-focus-inner {
  border: none;
}

// Remove default focus outline
:focus {
  outline: none;
}

// Add custom default focus to focusable elements
:where(a, button, input, select, textarea, summary, [role="button"]) {
  --focus-outline-size: max(2px, 0.08em);
  --focus-outline-style: solid;
  --focus-outline-color: #{color(focus, main)};

  @include focus {
    outline: var(--focus-outline-size) var(--focus-outline-style) var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset, var(--focus-outline-size));
  }
}
