/// Base styling

@use "../../helpers" as *;

:root {
  // Focus outline styles
  --focus-outline-size: max(2px, 0.08em);
  --focus-outline-style: solid;
  --focus-outline-color: #{color(focus, main)};
}

html {
  font-size: 100%;
}

body {
  @include font-regular;

  background-color: color(bg, main);
  font-size: scss-var(font, size, regular);
  line-height: scss-var(font, line-height, main);
  color: color(text, main);
}
