// This is the default component file. All styling in this file are applied across all breakpoints

// Import helpers to use in this component
@use '../../../helpers' as *;

.demo {
  @include flex-display; // Set prefixes using mixins
  @include font-medium; // Set font using font mixins
  padding: size(2); // Set spacing or size using size()
  background-color: color(primary, main); // Set color using color()
  color: color(primary, text); // Set color using color()
  line-height: var(font, line-height, main); // Set variables using var()

  // Use const() to loop position modifiers
  @each $value in const(css-positions-x) {
    &--align-#{$value} {
      text-align: $value;
    }
  }

  // This selector creates an "element" with the class name .demo__child
  &__child {
    background-color: color(bg, main);

    // This selector create a "modifier" with the class name .demo__child--modified
    &--modified {
      background-color: color(bg, alt);
    }
  }
}
