// This is the default component file. All styling in this file are applied across all breakpoints

// Import helpers to use in this component
@use "../../../helpers" as *;

.demo {
  --demo-css-variable: #{size(2)}; // Set a CSS custom property

  @include flex-display; // Set prefixes using mixins (optional)
  @include font-medium; // Set font using font mixins

  padding: size(2); // Set spacing or size using size()
  margin: var(--demo-css-variable); // Use of CSS custom properties
  background-color: color(primary, main); // Set color using color()
  line-height: scss-var(font, line-height, main); // Set variables using scss-var()

  // Generate breakpoint specific classes for "sm" and "lt-sm"
  @include breakpoint-classes((sm, lt-sm)) {
    color: color(primary, text); // Set color using color()
  }

  // Use const() to loop position modifiers
  @each $value in const(position, inline, x) {
    &--align-#{$value} {
      text-align: $value;
    }
  }

  // This selector creates an "element" with the class name .demo__child
  &__child {
    background-color: color(bg, main);

    // This selector create a "modifier" with the class name .demo__child--modified
    &--modified {
      background-color: color(bg, alt);
    }
  }

  &::before {
    // Set language specific strings as content in psuedo elements depending on html[lang]
    @include translate-psuedo-content((
      en: "English translation",
      se: "Svensk översättning",
      none: "Fallback value" // Use none as key for fallback value when html[lang] is not set
    ));
  }
}
