/// Styling used in the print media query

@page {
  size: 330mm 427mm;
  margin: 14mm;
}

body {
  font-size: 10pt;
  color: #000;
}

// Print URL to links
a[href] {
  &::after {
    content: " (" attr(href) ")";
  }
}
